* {
    transition: .35s;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    color: #e7e6e2;
}

a {
    text-decoration: none;
    color: #e7e6e2;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    padding: 6px 0;
    border: 2px #d4a752 solid;
    min-width: 120px;
    text-align: center;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
}

.btn:hover {
    padding: 8px 0;
    border-color: #e7e6e2;
}

.btn-active {
    border-bottom: 3px solid;
    padding: 8px 0;
}

header {
    background: #1a1918;
    padding-bottom: 40px;
}

.nav {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1918;
}

.types {
    display: flex;
}

.types__find {
    margin-right: 20px;
}

.types__post {
    height: fit-content;
}

.login {
    display: flex;
    align-items: center;
}

.login__img {
    width: 30px;
    margin-right: 12px;
}

.content__primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 46px;
}

.content__img {
    max-width: 400px;
    transform: translate(0, 20px);
}

.content__form {
    display: flex;
    justify-content: space-between;
}

.content__btn {
    background: transparent;
    color: #e7e6e2;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.content__input {
    width: 100%;
    padding: 20px 6px;
    border: none;
    border-radius: 0 6px 6px 0;
    z-index: 1;
}

.content__input::placeholder {
    color: #1a1918;
    font-weight: 600;
}

.img-search {
    width: 24px;
    margin-right: 12px;
}

.content__btn:hover {
    cursor: pointer;
}

.content__btn:hover .img-search {
    margin-right: 16px;
}

.content__input-group {
    display: flex;
    align-items: center;
    width: 76%;
    background: #fff;
    border-radius: 6px;
}

.content__loop {
    width: 24px;
    margin-left: 16px;
    margin-right: 12px;
}

.content__input:focus-visible {
    outline: none;
}

.content__secound {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.content__stat span {
    font-style: 18px;
    font-weight: 600;
}

section {
    background: #e7e6e2;
}