* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    color: #e7e6e2;
}

a {
    text-decoration: none;
    color: #e7e6e2;
}

a > * {
    transition: .3s ease;
}

a:hover {
    transition: .3s ease;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    transition: .3s ease;
    padding: 6px 0;
    border: 2px #d4a752 solid;
    min-width: 120px;
    text-align: center;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
}

.btn:hover {
    padding: 8px 0;
    border-color: #e7e6e2;
}

.btn-active {
    border-bottom: 2px solid;
    padding: 8px 0;
}

header {
    background: #1a1918;
    padding-bottom: 40px;
}

.nav {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1918;
}

.types {
    display: flex;
}

.types__find {
    margin-right: 20px;
}

.types__post {
    height: fit-content;
}

.login {
    display: flex;
    align-items: center;
}

.login__img {
    width: 30px;
    margin-right: 12px;
}

.content__primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 46px;
}

.content__img {
    max-width: 400px;
    transform: translate(0, 20px);
}

.content__form {
    display: flex;
    justify-content: space-between;
}

.content__btn {
    background: transparent;
    color: #e7e6e2;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.content__input {
    width: 100%;
    padding: 20px 6px;
    border: none;
    border-radius: 0 6px 6px 0;
    z-index: 1;
}

.content__input::placeholder {
    color: #1a1918;
    font-weight: 600;
}

.img-search {
    width: 24px;
    margin-right: 12px;
    transition: .3s ease;
}

.content__btn:hover {
    cursor: pointer;
}

.content__btn:hover .img-search {
    margin-right: 16px;
}

.content__input-group {
    display: flex;
    align-items: center;
    width: 76%;
    background: #fff;
    border-radius: 6px;
}

.content__loop {
    width: 24px;
    margin-left: 16px;
    margin-right: 12px;
}

.content__input:focus-visible {
    outline: none;
}

.content__secound {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.content__stat span {
    font-style: 18px;
    font-weight: 600;
}

section {
    background: #e7e6e2;
    padding-top: 60px;
}


.top-prof__item, .top-city__item {
    background-color: #dddddd;
    border-radius: 14px;
    padding: 16px;
    width: 20%;
    padding-bottom: 26px;
    margin-bottom: 20px;
    color: #1a1918;
}

.top-prof__item:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-prof__item:hover, .top-city__item:hover {
    background-color: #afafaf;
}

.top-prof__item h2 {
    font-size: 16px;
}

.top-prof, .top-city {
    color: #1a1918;
}

.top-prof__desc, .top-city__desc {
    display: flex;
}

.top-prof__stat {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    align-items: center;
}

.top-prof__stat img {
    width: 18px;
    margin-right: 5px;
}

.top-prof__stat p {
    margin-left: 40px;
}

.top-prof__desc, .top-city__desc {
    margin-top: 10px;
    margin-bottom: 40px;
}

.top-prof__desc a, .top-city__desc a {
    color: #1a1918;
    text-decoration: underline;
    margin-left: 10px;
}
.top-prof__desc a:hover, .top-city__desc a:hover {
    color: #d4a752;
}

.top-prof__block, .top-city__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-city__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
}

.top-city__item img {
    width: 40px;
    margin-right: 16px;
}

.top-city__item p {
    font-size: 18px;
}

.top-city {
    margin-top: 40px;
}

.top-city__item:hover img {
    margin-right: 12px;
}

.messages {
    background: #dddddd;
    display: flex;
    border-radius: 24px;
    margin-top: 80px;
    justify-content: space-between;
    color: #1a1918;
    font-size: 18px;
    padding: 18px 0 18px 40px;
}

.messages img {
    width: 400px;
    transform: translate(50px, -70px);
}

.messages__btn {
    display: flex;
    margin-top: 30px;
}

.messages__btn a {
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;
}

.messages__btn a:first-child {
    border: #E1306C 4px solid;
    margin-right: 20px;
    color: #E1306C;
}

.messages__btn a:last-child {
    border: #0f5ed4 4px solid;
    color: #0f5ed4;
}

.messages__btn a:first-child:hover {
    background-color: #E1306C;
    color: #e7e6e2;
}

.messages__btn a:last-child:hover {
    color: #e7e6e2;
    background-color: #0f5ed4;
}